<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=utf-8" http-equiv=content-type>
    <meta name=generator content="mshtml 8.00.6001.18852">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>META FORUM</title>
    <link rel='stylesheet' href='/css/style.css' />    
    <!-- Page level plugin CSS-->
    <!-- 반응형 datatable -->
    <link href="/vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet"/>
    <link href="/vendor/datatables/jquery.dataTables.min.css" rel="stylesheet" />
    <link href="/vendor/datatables/responsive.bootstrap.min.css" rel="stylesheet" />
    <!-- selectBox option -->
    <link href="/vendor/datatables/dataTables.select.min.css" rel="stylesheet"/>
    <link type="text/css" href="/vendor/datatables/buttons.dataTables.min.css" rel="stylesheet" media="screen" />    

    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/datatables/jquery.dataTables.js"></script>
    <script src="/vendor/datatables/dataTables.bootstrap4.js"></script>    
    <script src="/vendor/datatables/dataTables.responsive.min.js"></script>
    <script src="/vendor/datatables/responsive.bootstrap.min.js"></script>
    <!-- selectBox option -->
    <script src="/vendor/datatables/dataTables.select.min.js"></script>
    <!-- button option -->
    <script src="/vendor/datatables/dataTables.buttons.min.js"></script>
    <script src="/vendor/fontawesome/fontawesome.js"></script>
  </head>
  <body>
    <%- include('./common/topbar') %>
    <section>
      <div class="table-responsive flex-1 py-2 px-5 table-pc">
        <div class="board-title">          
          FORUM
        </div>
        <table id="table-pc" class="table table-bordered dataTable table-hover hover" width="100%" cellspacing="0">
          <thead>
            <tr>
              <th class="text-center">번호</th>
              <th class="text-center">제목</th>
              <th class="text-center">글쓴이</th>
              <th class="text-center">작성일</th>
              <th class="text-center">조회</th>
              <th class="text-center">추천</th>
            </tr>
          </thead>
          <tbody>            
            <tr class="tr-data">
              <td class="text-center">
                1
              </td>
              <td class="text-left">
                엘리베이터에
              </td>
              <td class="text-center">
                메타몽
              </td>
              <td class="text-center">
                2023-02-01
              </td>
              <td class="text-center">
                125
              </td>	        
              <td class="text-center">
                25
              </td>								
            </tr>
            <tr class="tr-data">
              <td class="text-center">
                2
              </td>
              <td class="text-left">
                나비넥타이
              </td>
              <td class="text-center">
                메타몽
              </td>
              <td class="text-center">
                2023-02-01
              </td>
              <td class="text-center">
                125
              </td>	        
              <td class="text-center">
                25
              </td>								
            </tr>
            <tr class="tr-data">
              <td class="text-center">
                3
              </td>
              <td class="text-left">
                낀 사연
              </td>
              <td class="text-center">
                메타몽
              </td>
              <td class="text-center">
                2023-02-01
              </td>
              <td class="text-center">
                125
              </td>	        
              <td class="text-center">
                25
              </td>								
            </tr>
            <tr class="tr-data">
              <td class="text-center">
                4
              </td>
              <td class="text-left">
                그건 말도 못해
              </td>
              <td class="text-center">
                메타몽
              </td>
              <td class="text-center">
                2023-02-01
              </td>
              <td class="text-center">
                125
              </td>	        
              <td class="text-center">
                25
              </td>								
            </tr>
            <tr class="tr-data">
              <td class="text-center">
                5
              </td>
              <td class="text-left">
                지하철 문에
              </td>
              <td class="text-center">
                메타몽
              </td>
              <td class="text-center">
                2023-02-01
              </td>
              <td class="text-center">
                125
              </td>	        
              <td class="text-center">
                25
              </td>								
            </tr>
            <tr class="tr-data">
              <td class="text-center">
                6
              </td>
              <td class="text-left">
                핸드백
              </td>
              <td class="text-center">
                메타몽
              </td>
              <td class="text-center">
                2023-02-01
              </td>
              <td class="text-center">
                125
              </td>	        
              <td class="text-center">
                25
              </td>								
            </tr>
            <tr class="tr-data">
              <td class="text-center">
                7
              </td>
              <td class="text-left">
                끼고 달린 사연
              </td>
              <td class="text-center">
                메타몽
              </td>
              <td class="text-center">
                2023-02-01
              </td>
              <td class="text-center">
                125
              </td>	        
              <td class="text-center">
                25
              </td>								
            </tr>
            <tr class="tr-data">
              <td class="text-center">
                8
              </td>
              <td class="text-left">
                그것도 말로 못해
              </td>
              <td class="text-center">
                메타몽
              </td>
              <td class="text-center">
                2023-02-01
              </td>
              <td class="text-center">
                125
              </td>	        
              <td class="text-center">
                25
              </td>								
            </tr>            
          </tbody>
        </table>       
      </div>
      <!-- 핸드폰용 -->
      <div class="table-responsive flex-1 p-0 table-mobile">
        <table id="table-mobile" class="table table-bordered dataTable table-hover hover" width="100%" cellspacing="0">
          <thead>
            <tr>
              <th class="text-center board-title">FORUM</th>              
            </tr>
          </thead>
          <tbody>
            <tr class="tr-data">
              <td class="text-left">
                <div>
                  <div>엘리베이터에</div>
                  <div class="d-flex font-dataTable-row-mobile">
                    <div class="flex-1 text-left d-flex">
                      <div class="mr-1">메타몽</div>
                      <div class="mr-1">
                        <span>조회</span>
                        <span>125</span>
                      </div>
                      <div>
                        <span>추천</span>
                        <span>25</span>
                      </div>
                    </div>
                    <div class="text-right">20:35</div>
                  </div>
                </div>
              </td>              
            </tr>
            <tr class="tr-data">
              <td class="text-left">
                <div>
                  <div>나비넥타이</div>
                  <div class="d-flex font-dataTable-row-mobile">
                    <div class="flex-1 text-left d-flex">
                      <div class="mr-1">메타몽</div>
                      <div class="mr-1">
                        <span>조회</span>
                        <span>125</span>
                      </div>
                      <div>
                        <span>추천</span>
                        <span>25</span>
                      </div>
                    </div>
                    <div class="text-right">20:35</div>
                  </div>
                </div>
              </td>              
            </tr>
            <tr class="tr-data">
              <td class="text-left">
                <div>
                  <div>낀 사연</div>
                  <div class="d-flex font-dataTable-row-mobile">
                    <div class="flex-1 text-left d-flex">
                      <div class="mr-1">메타몽</div>
                      <div class="mr-1">
                        <span>조회</span>
                        <span>125</span>
                      </div>
                      <div>
                        <span>추천</span>
                        <span>25</span>
                      </div>
                    </div>
                    <div class="text-right">20:35</div>
                  </div>
                </div>
              </td>              
            </tr>
            <tr class="tr-data">
              <td class="text-left">
                <div>
                  <div>그건 말도 못해</div>
                  <div class="d-flex font-dataTable-row-mobile">
                    <div class="flex-1 text-left d-flex">
                      <div class="mr-1">메타몽</div>
                      <div class="mr-1">
                        <span>조회</span>
                        <span>125</span>
                      </div>
                      <div>
                        <span>추천</span>
                        <span>25</span>
                      </div>
                    </div>
                    <div class="text-right">20:35</div>
                  </div>
                </div>
              </td>              
            </tr>     
            <tr class="tr-data">
              <td class="text-left">
                <div>
                  <div>지하철 문에</div>
                  <div class="d-flex font-dataTable-row-mobile">
                    <div class="flex-1 text-left d-flex">
                      <div class="mr-1">메타몽</div>
                      <div class="mr-1">
                        <span>조회</span>
                        <span>125</span>
                      </div>
                      <div>
                        <span>추천</span>
                        <span>25</span>
                      </div>
                    </div>
                    <div class="text-right">20:35</div>
                  </div>
                </div>
              </td>              
            </tr>
            <tr class="tr-data">
              <td class="text-left">
                <div>
                  <div>핸드백</div>
                  <div class="d-flex font-dataTable-row-mobile">
                    <div class="flex-1 text-left d-flex">
                      <div class="mr-1">메타몽</div>
                      <div class="mr-1">
                        <span>조회</span>
                        <span>125</span>
                      </div>
                      <div>
                        <span>추천</span>
                        <span>25</span>
                      </div>
                    </div>
                    <div class="text-right">20:35</div>
                  </div>
                </div>
              </td>              
            </tr>
            <tr class="tr-data">
              <td class="text-left">
                <div>
                  <div>끼고 달린 사연</div>
                  <div class="d-flex font-dataTable-row-mobile">
                    <div class="flex-1 text-left d-flex">
                      <div class="mr-1">메타몽</div>
                      <div class="mr-1">
                        <span>조회</span>
                        <span>125</span>
                      </div>
                      <div>
                        <span>추천</span>
                        <span>25</span>
                      </div>
                    </div>
                    <div class="text-right">20:35</div>
                  </div>
                </div>
              </td>              
            </tr>
            <tr class="tr-data">
              <td class="text-left">
                <div>
                  <div>그것도 말로 못해</div>
                  <div class="d-flex font-dataTable-row-mobile">
                    <div class="flex-1 text-left d-flex">
                      <div class="mr-1">메타몽</div>
                      <div class="mr-1">
                        <span>조회</span>
                        <span>125</span>
                      </div>
                      <div>
                        <span>추천</span>
                        <span>25</span>
                      </div>
                    </div>
                    <div class="text-right">20:35</div>
                  </div>
                </div>
              </td>              
            </tr>       
          </tbody>
        </table>       
      </div>
    </section>
    <footer>

    </footer>
  </body>
  <script>
    $(document).ready(function() {

      $('#table-pc').DataTable({
        responsive: false,
        ordering: false,
        destroy: true,
        "dom": '<"d-flex justify-content-between text-14 my-2"lf>t<"bottom text-12 color-dt-infomation"<"d-flex justify-content-center text-14"p><"button-align"B">>',
        order: [[1, 'asc']],
        "columns": [
          { "width": "7%" },
          { "width": "45%" },
          { "width": "24%" },
          { "width": "10%" },
          { "width": "7%" },
          { "width": "7%" }
        ]
      });

      $('#table-mobile').DataTable({
        responsive: false,
        ordering: false,
        destroy: true,
        // "dom": '<"d-flex justify-content-between text-14 mb-3"f>t<"bottom text-12 color-dt-infomation"<"button-align"B">>',        
        "dom": 't<"bottom text-12 color-dt-infomation"<"button-align"B">>',
        "oLanguage": {
          "sSearch": "Search"
        }
      });  
    });
</script>
</html>
