<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=utf-8" http-equiv=content-type>
    <meta name=generator content="mshtml 8.00.6001.18852">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>META HOME</title>
    <link rel='stylesheet' href='/css/style.css' />
  </head>
  <body>
    <header>
      <div class="header-top">
        <div class="header-img-container">
          <img src="/images/metamong.webp" />
        </div>
        <div class="header-title-container">METAMONG</div>
      </div>
      <div class="header-bottom">
        <input type="checkbox" id="active">
        <label for="active" class="menu-btn"><span></span></label>
        <label for="active" class="close"></label>
        <div class="wrapper-mobile">
          <ul>
            <li><a href="/">Meta Home</a></li>
            <li><a href="/lotto">Meta lotto</a></li>
            <li><a href="/forum">Meta Forum</a></li>
            <li><a href="/member">Meta member</a></li>
          </ul>
        </div>
      </div>
      <div class="header-bottom">
        <ul class="wrapper-pc">
          <li><a href="/">Meta Home</a></li>
          <li><a href="/lotto">Meta lotto</a></li>
          <li><a href="/forum">Meta Forum</a></li>
          <li><a href="/member">Meta member</a></li>
        </ul>
      </div>
    </header>
    <section>
      <div class="card">
        <div class="card-head">
          META LOTTO
        </div>
        <div class="card-body">
          <div class="row">
            <div>289회차 당첨결과</div>
            <div>2023-02-01</div>
            <div>25</div>
          </div>
          <div class="row">
            <div>289회차 당첨결과</div>
            <div>2023-02-01</div>
            <div>25</div>
          </div>
          <div class="row">
            <div>289회차 당첨결과</div>
            <div>2023-02-01</div>
            <div>25</div>
          </div>
          <div class="row">
            <div>289회차 당첨결과</div>
            <div>2023-02-01</div>
            <div>25</div>
          </div>

        </div>
      </div>
      <div class="card">
        <div class="card-head">
          META FORUM
        </div>
        <div class="card-body">
          <div class="row">
            <div>엘리베이터에</div>
            <div>2023-02-01</div>
            <div>25</div>
          </div>
          <div class="row">
            <div>나비넥타이</div>
            <div>2023-02-01</div>
            <div>25</div>
          </div>
          <div class="row">
            <div>낀 사연</div>
            <div>2023-02-01</div>
            <div>25</div>
          </div>
          <div class="row">
            <div>그건 말도 못해</div>
            <div>2023-02-01</div>
            <div>25</div>
          </div>
        </div>
      </div>     
    </section>
    <footer>

    </footer>
  </body>
</html>
