<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=utf-8" http-equiv=content-type>
    <meta name=generator content="mshtml 8.00.6001.18852">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>META HOME</title>
    <link rel='stylesheet' href='/css/style.css' />
    <script src="/vendor/fontawesome/fontawesome.js"></script>
  </head>
  <body>
    <%- include('./common/topbar') %>
    <section>
      <div class="card">
        <div class="card-head">
          <div class="card-head-title">
            META LOTTO
          </div>
          <a href="/lotto">
            <i class="fa-solid fa-ellipsis"></i>
          </a>
        </div>
        <div class="card-body">
          <div class="row">
            <div>289회차 당첨결과</div>
            <div>2023-02-01</div>
            <div>25</div>
          </div>
          <div class="row">
            <div>289회차 당첨결과</div>
            <div>2023-02-01</div>
            <div>25</div>
          </div>
          <div class="row">
            <div>289회차 당첨결과</div>
            <div>2023-02-01</div>
            <div>25</div>
          </div>
          <div class="row">
            <div>289회차 당첨결과</div>
            <div>2023-02-01</div>
            <div>25</div>
          </div>

        </div>
      </div>
      <div class="card">
        <div class="card-head">
          <div class="card-head-title">
            META FORUM
          </div>
          <a href="/forum">
            <i class="fa-solid fa-ellipsis"></i>
          </a>
        </div>
        <div class="card-body">
          <div class="row">
            <div>엘리베이터에</div>
            <div>2023-02-01</div>
            <div>25</div>
          </div>
          <div class="row">
            <div>나비넥타이</div>
            <div>2023-02-01</div>
            <div>25</div>
          </div>
          <div class="row">
            <div>낀 사연</div>
            <div>2023-02-01</div>
            <div>25</div>
          </div>
          <div class="row">
            <div>그건 말도 못해</div>
            <div>2023-02-01</div>
            <div>25</div>
          </div>
        </div>
      </div>     
    </section>
    <footer>

    </footer>
  </body>
</html>
