@font-face { /* Roboto-Regular.ttf */
  font-family: "japanese_robot";
  src: url("/css/font/japanese_robot/Japanese Robot.ttf") format("truetype");
  letter-spacing: -1px !important;
}
@font-face { /* Roboto-Regular.ttf */
  font-family: "NotoSansKR-Medium";
  src: url("/css/font/Noto_Sans_KR/NotoSansKR-Medium.otf") format("truetype");
  letter-spacing: -1px !important;
}
@font-face { /* Roboto-Regular.ttf */
  font-family: "NotoSansKR-Bold";
  src: url("/css/font/Noto_Sans_KR/NotoSansKR-Bold.otf") format("truetype");
  letter-spacing: -1px !important;
} 

* {
  box-sizing: border-box;
}
html {
  font-size: 10px !important;
  font-family: 'NotoSansKR-Medium', serif;
}

body {
  position: relative;
  padding: 0;
  margin: 0;
  width: 1130px;
  margin: 0 auto;
  background-color: #c5b2d6;
}

a {
  text-decoration: none;
}

header {
  display: flex;
  padding: 0;
  flex-direction: column;  
  background-color: #fff;
  font-family: 'japanese_robot', serif;
}
.header-top, .header-bottom {
  display: flex;
}
.header-top {
  justify-content: center;
  margin: 1rem 0;
}

/* .header-img-container {
  flex: 1;
} */
.header-img-container > img {
  width: 8rem;
}
.header-title-container {
  font-size: 8rem;
  font-weight: bold;

}

.d-flex {
  display: flex;
}

.flex-1 {flex: 1;}.flex-2 {flex: 2;}.flex-3 {flex: 3;}.flex-4 {flex: 4;}
.p-0 {padding: 0;}.p-1 {padding: 1rem;}.p-2 {padding: 2rem;}.p-3 {padding: 3rem;}.p-4 {padding: 4rem;}.p-5 {padding: 5rem;}.pl-0, .px-0 {padding-left: 0rem;}.pl-1, .px-1 {padding-left: 1rem;}.pl-2, .px-2 {padding-left: 2rem;}.pl-3, .px-3 {padding-left: 3rem;}.pl-4, .px-4 {padding-left: 4rem;}.pl-5, .px-5 {padding-left: 5rem;}.pr-0, .px-0 {padding-right: 0rem;}.pr-1, .px-1 {padding-right: 1rem;}.pr-2, .px-2 {padding-right: 2rem;}.pr-3, .px-3 {padding-right: 3rem;}.pr-4, .px-4 {padding-right: 4rem;}.pr-5, .px-5 {padding-right: 5rem;}.pt-0, .py-0 {padding-top: 0rem;}.pt-1, .py-1 {padding-top: 1rem;}.pt-2, .py-2 {padding-top: 2rem;}.pt-3, .py-3 {padding-top: 3rem;}.pt-4, .py-4 {padding-top: 4rem;}.pt-5, .py-5 {padding-top: 5rem;}.pb-0, .py-0 {padding-bottom: 0rem;}.pb-1, .py-1 {padding-bottom: 1rem;}.pb-2, .py-2 {padding-bottom: 2rem;}.pb-3, .py-3 {padding-bottom: 3rem;}.pb-4, .py-4 {padding-bottom: 4rem;}.pb-5, .py-5 {padding-bottom: 5rem;}
.m-0 {margin: 0;}.m-1 {margin: 1rem;}.m-2 {margin: 2rem;}.m-3 {margin: 3rem;}.m-4 {margin: 4rem;}.m-5 {margin: 5rem;}.ml-0, .mx-0 {margin-left: 0rem;}.ml-1, .mx-1 {margin-left: 1rem;}.ml-2, .mx-2 {margin-left: 2rem;}.ml-3, .mx-3 {margin-left: 3rem;}.ml-4, .mx-4 {margin-left: 4rem;}.ml-5, .mx-5 {margin-left: 5rem;}.mr-0, .mx-0 {margin-right: 0rem;}.mr-1, .mx-1 {margin-right: 1rem;}.mr-2, .mx-2 {margin-right: 2rem;}.mr-3, .mx-3 {margin-right: 3rem;}.mr-4, .mx-4 {margin-right: 4rem;}.mr-5, .mx-5 {margin-right: 5rem;}.mt-0, .my-0 {margin-top: 0rem;}.mt-1, .my-1 {margin-top: 1rem;}.mt-2, .my-2 {margin-top: 2rem;}.mt-3, .my-3 {margin-top: 3rem;}.mt-4, .my-4 {margin-top: 4rem;}.mt-5, .my-5 {margin-top: 5rem;}.mb-0, .my-0 {margin-bottom: 0rem;}.mb-1, .my-1 {margin-bottom: 1rem;}.mb-2, .my-2 {margin-bottom: 2rem;}.mb-3, .my-3 {margin-bottom: 3rem;}.mb-4, .my-4 {margin-bottom: 4rem;}.mb-5, .my-5 {margin-bottom: 5rem;}

.justify-content-between {justify-content: space-between;}
.justify-content-center {justify-content: center;}

.position-relative {position: relative;} .position-absolute {position: absolute;}

.text-center {text-align: center;}.text-right {text-align: right;}.text-left {text-align: left;}

.wrapper-mobile, .menu-btn, #active {
  display: none;
}

.wrapper-pc {
  list-style: none;
  display: inline-flex;
  justify-content: space-between;
  padding: 0rem 0;
  margin: 1rem auto auto 0;
  width: 100%;
  background: linear-gradient(to top, #c5b2d6 2%, #fff 15%, #fff 85%, #c5b2d6 98%);
}
.wrapper-pc > li {
  padding: 1rem 0;
  background: linear-gradient(to top, #c5b2d6 2%, #fff 15%, #fff 85%, #c5b2d6 98%);
}
.wrapper-pc > li > a {
  text-decoration: none;
  padding: 0rem 3.5rem;
  color: #c5b2d6;
  font-size: 2rem;
  transition:all .3s ease-in-out;
}
.wrapper-pc > li:hover {
  cursor: pointer;
  background: linear-gradient(to top, #852fcf 2%, #c5b2d6 15%, #c5b2d6 85%, #852fcf 98%);
}
.wrapper-pc > li:hover > a {
  /* color: #000; */
  color: #852fcf;
  font-size: 2.3rem;
}

/* menu */
@media screen and (max-width: 700px) {
  .wrapper-pc {
    display: none;
  } 
  html {
    font-size: 16px !important;
  }
  body {
    width: 100%;
  }
  .header-top {
    justify-content: flex-start;
    margin: 1rem;
  }
  .header-title-container {
    font-size: 3rem;
    color: #852fcf;
  }
  .header-img-container {display: none;}
  .wrapper-mobile, .menu-btn {
    display: block;
  }
  .wrapper-mobile{
    position: fixed;
    top: 0;
    right: -100%;
    height: 100%;
    width: 100%;
    background: #c5b2d6;
    transition: all 0.6s ease-in-out;
  }
  #active:checked ~ .wrapper-mobile{
    /*left: 0;*/
    right:0;
  }
  .menu-btn{
    position: absolute;
    z-index: 2;
    right: 0.5vw;
    /*left: 20px; */
    top: -0.5rem;
    height: 5rem;
    width: 5rem;
    text-align: center;
    line-height: 5rem;
    border-radius: 50%;
    font-size: 2rem;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }
  .menu-btn span,
  .menu-btn:before,
  .menu-btn:after{
    content: "";
    position: absolute;
    top: calc(50% - -0.5rem);
    left: 30%;
    width: 50%;
    border-bottom: 0.5rem solid #852fcf;
    transition: transform .6s cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  .menu-btn:before{
    transform: translateY(-1rem);
  }
  .menu-btn:after{
    transform: translateY(1rem);
  }
  
  
  .close {
    z-index: 1;
    width: 100%;
    height: 100%;
    pointer-events: none;
    transition: background .6s;
  }
  
  /* closing animation */
  #active:checked + .menu-btn span {
    transform: scaleX(0);
  }
  #active:checked + .menu-btn:before {
    transform: rotate(45deg);
    border-color: #fff;
  }
  #active:checked + .menu-btn:after {
    transform: rotate(-45deg);
    border-color: #fff;
  }
  .wrapper-mobile ul{
    position: absolute;
    top: 60%;
    left: 50%;
    height: 90%;
    width: 100%;
    transform: translate(-50%, -50%);
    list-style: none;
    text-align: center;
    padding: 0;
    margin: 0;
  }
  .wrapper-mobile ul li{
    width: 100%;
    height: 10%;
    margin: 15px 0;
  }
  .wrapper-mobile ul li a{
    position: relative;
    text-decoration: none;
    font-size: 2rem;
    font-weight: 500;
    padding: 1rem 2rem;
    color: #fff;
    border-radius: 5rem;
    /* position: absolute; */
    line-height: 5rem;
    margin: 1rem 0;
    opacity: 1;    
    font-family: 'japanese_robot', serif;
    transition: all 0.3s ease;
    transition: transform .6s cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  .wrapper-mobile ul li a:after{
    position: absolute;
    content: "";
    background: #852fcf;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    border-radius: 5rem;
    transform: scaleY(0);
    z-index: -1;
    transition: transform 0.3s ease;
  }
  .wrapper-mobile ul li a:hover:after{
    transform: scaleY(1);
  }
  .wrapper-mobile ul li a:hover{
    color: #fff;
  }
  input[type="checkbox"]{
    display: none;
  }
}
/* section */
section {
  display: flex;
  flex-wrap: wrap;
  background-color: #fff;
  padding: 1rem 2rem;
}
.board-title {
  font-size: 4.5rem !important;
  font-weight: bold;  
  font-family: 'japanese_robot', serif;
  color: #852fcf;
}

.card {
  width: 25%;
  padding: 1rem 1.5rem;
}

.card-head {
  display: flex;
  justify-content: space-between;
  padding-bottom: 1rem;
  border-bottom: 1px solid #ececec;
  align-items: center;
  padding-right: 1rem;
}

.card-head-title {
  font-size: 1.5rem; 
  color: #852fcf;
  font-family: 'japanese_robot', serif; 
}

.card-head > i:hover {
  cursor: pointer;
}

.card-body > .row {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  margin-top: 0.5rem;
}
.row > div:first-child {
  flex: 4;
}
.row > div:last-child {
  flex: 1;
}
.row > div:not(:first-child) {
  text-align: right;
}

.card-body > .row:hover {
  color: #852fcf;
  background-color: #c5b2d6;
  cursor: pointer;
}


@media screen and (max-width: 700px) {
  section {
    flex-direction: column;
    border-top: 2px solid #852fcf;
    padding: 0;
  }
  .board-title {
    font-size: 2.5rem !important;
  }
  .card {
    width: 100%;
  }
}

/* lotto screen */
.table-pc {
  display: block;
}
.table-mobile {
  display: none;
}
@media screen and (max-width: 700px) {
  .table-pc {
    display: none;
  }
  .table-mobile {
    display: block;
  }
}

footer {
  position: fixed;
  bottom: 0;
  border: 1px solid red;
}

a.page-link {
  text-decoration: none;
  color: #c5b2d6;
}

/* ============================================
====================modal css=====================
============================================ */
.member-modal {
  color: #000;
}
.member-modal {
  z-index: 3;
  display: none;
  padding-top: 10rem;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.modal-animate-top {
  position: relative;
  animation: animatetop 0.4s;
}
@keyframes animatetop{from{top:-300px;opacity:0} to{top:0;opacity:1}}
.modal-card-4, .modal-hover-shadow:hover {
  box-shadow: 0 0.5rem 1rem 0 rgb(133 47 207 / 20%), 0 0.5rem 2rem 0 rgb(133 47 207 / 19%);
}
.modal-content {
  margin: auto;
  background-color: #fff;
  position: relative;
  padding: 2rem 1.5rem;
  outline: 0;
  width: 45rem;
  border-radius: 1rem;
}
/* .modal-red, .modal-hover-red:hover {
  color: #fff!important;
  background-color: #852fcf!important;
} */
.modal-hover:hover {
  color: #000 !important;
}
.modal-container, .modal-panel {
  padding: 0.01rem 2rem;
}
.modal-tooltip, .modal-display-container {
  position: relative;
}
.modal-container::after,.modal-container::before {
  content: "";
  display: table;
  clear: both;
}
.modal-xlarge {
  font-size: 2rem !important;
}
.modal-display-topright {
  position: absolute;
  right: 0.5rem;
  top: 0.5rem;
  box-sizing: inherit;
}
.modal-close-button {
  border: none;
  display: inline-block;
  padding: 0.5rem 1rem;
  vertical-align: middle;
  overflow: hidden;
  text-decoration: none;
  color: #cecece;
  background-color: inherit;
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
}
@media screen and (max-width: 700px) {
  .modal-content {
      width: 100%;
      border-radius: 0;
  }
  .member-modal {
    padding-top: 0;
  }
}

.sign-input {
  width: 100%;
  padding: 0.5rem 1rem;
  font-size: 1.5rem;
  line-height: 2;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #c5b2d6;
  border-radius: 0.25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.sign-input:focus {
  color: #495057;
  background-color: #fff;
  border-color: #852fcf;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgb(133 47 207 / 25%);
}

.sign-input::placeholder {
  color: #c5b2d6;
}

.modal-btn {
  width: 100%;
  color: #fff;
  background-color: #c5b2d6;
  border-color: #c5b2d6;
  border-radius: 3rem;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.5rem 1rem;
  font-size: 1.5rem;
  line-height: 2;
  border-radius: 3rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  /* margin: 0 0.5rem 1rem; */
}
.modal-circle.modal-btn {
  width: auto;
  margin: 0 0.5rem 1rem;
  padding: 0.5rem 1.5rem;
  font-size: 2rem;
  background-color: #852fcf;
}
.modal-btn:hover {
  color: #fff;
  background-color: #852fcf;
  border-color: #852fcf;
  cursor: pointer;
}
.preparing:hover {
  cursor: not-allowed !important;
}
.modal-text {
  font-size: 1.4rem;
  font-weight: unset;
  color: #9a9a9a;
}