<header>
    <a style="text-decoration: none; color: #852fcf;" href="/">
        <div class="header-top">
            <div class="header-img-container">
                <img src="/images/metamong.webp" />
            </div>
            <div class="header-title-container">METAMONG</div>
        </div>
    </a>
    <div class="header-bottom" style="z-index: 1;">
        <input type="checkbox" id="active">
        <label for="active" class="menu-btn"><span></span></label>
        <label for="active" class="close"></label>
        <div class="wrapper-mobile">
            <ul>
                <li><a href="/">Meta Home</a></li>
                <li><a href="/lotto">Meta lotto</a></li>
                <li><a href="/forum">Meta Forum</a></li>
                <li><a href="/member">Meta member</a></li>
            </ul>
        </div>
    </div>
    <div class="header-bottom">
        <ul class="wrapper-pc">
            <li><a href="/">Meta Home</a></li>
            <li><a href="/lotto">Meta lotto</a></li>
            <li><a href="/forum">Meta Forum</a></li>
            <li><a href="/member">Meta member</a></li>
        </ul>
    </div>
</header>